body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}
main{
  flex-grow: 1;
}

ul,ol {
  list-style: none;
margin: 0;
  padding-left: 0;
}
h1,h2,h3{
  margin: 0;
}
a{
  text-decoration: none;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
p{
  margin:0;
}
/* Common styles */
.container {
  margin: 0 auto;
  width: 1158px;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
/* LOGO */

.header {
border-bottom: 1px solid #e7e9fc;
}

.header-container{
  display: flex;
  align-items: center;
}
 

.logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;

}
.logo-span {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family:"Raleway",sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

/* NAV*/
 
 
.nav {
  display: flex;
  align-items: center;
}

.nav-list{
  display: flex;
    gap: 40px;
    padding: 24px 0;
}
.nav-link {
  font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #2e2f42;
    letter-spacing: 0.32px;
    text-decoration: none;
    padding: 24px 0;
}


.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #404bbf;
}
/* address*/
.address-title {
  font-style: normal;
  margin-left: auto;
     
}
.address-title:hover {
  color: #404bbf;
}
.address-list{
display: flex;
  gap: 40px;
  align-items: center;
}
.address-link {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
 
}
.address-link:hover,
.address-link:active {
  color: #404bbf;
}
.address-link:focus {
  color: #404bbf;
}
/* HERO*/
.hero{
  background-color: #2e2f42;
    padding: 188px 0;
    flex-shrink: 0;
    text-align: center;
}
.hero-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07em;
   letter-spacing: 0.02em;
   display: inline-block;
   max-width: 496px;
   margin-bottom: 48px;
}

.button{
display: block;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  height: 56px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0px auto;
}
.button:hover,
.button-heroz:focus {
  background-color: #404bbf;
}

/*section 1*/
.section-one {
  padding: 120px 0 120px 0;
}
 .section-one-list{
display: flex;
align-items: center;
justify-content: center;
gap: 24px;

 }
 .section-one-content{
  flex-basis: calc((100% - 72px) / 4);
 }
 .section-one .chapter-one-title{
  margin-bottom: 8px;
 }
.chapter-one-title {
  color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 24px; 
letter-spacing: 0.02em;
}

.chapter-one-text {
  color: var(--SLATE, #434455);
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;  
letter-spacing: 0.02em;
}
/*section 2*/
.section-two{
  background-color:#F4F4FD;
  padding: 120px 0 120px 0;
}
.section-two .chapter-two-title{
  margin-bottom: 72px;
}
.section-two .photo-title{
  margin-bottom: 8px;
}
.chapter-two-wrapper{
  padding: 32px 0;
}
.chapter-two-list{
  display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 24px;
    align-items: center;
}

.chapter-two-title{
  color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.list{
  background-color: #ffffff;
 width: calc((100% - 72px) / 4);
  padding-bottom: 0px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

 
.photo-title{
  color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    
}
.photo-text{
  color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    text-align: centers;
}

/*section 3*/
 .section-three {
  padding: 120px 0 120px 0;
 }
 .section-tree, .chapter-three-title{
  margin-bottom: 72px;
 }
 .section-tree, .chapter-one-title{
    margin-bottom: 8px;
 }
.chapter-three-wrapper {
align-self: stretch;
 border: 1px solid #e7e9fc;
 border-top: none;
 padding: 32px 16px;
}

.chapter-three-list{
  display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    row-gap: 48px;
 }

.chapter-three-title{
  color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.chapter-three-item{
    width: calc((100% - 48px) / 3);
}

.portfolio-title{
  color: var(--NAVY-BLUE, #2E2F42);
      font-size: 20px;
    font-weight: 500;
  line-height: 1.11em;
  letter-spacing: 0.02em

}
/*footer*/
.footer {
  background-color: #2e2f42;
    padding: 100px 0;
}

.logo-two{
  font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer {
  color: #f4f4fd;
   

}
.footer-text{
  color:#F4F4FD;
  max-width: 264px;
}

